// Global styling for this template

body {
  @include body-font;
  padding-top: 54px;
  background-color: #e4c8ac;
}
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 700;
  color: $gray-800;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

.btn-secondary{
  color: #de9b5a;
  background-color: #1561b2 !important
}

.btn-secondary:hover {
  color: #ffffff;
  background-color: #3b4249 !important
}

.fa-inverse {
  color: #de9b5a;
}

.subheading {
  font-weight: 500;
  @include heading-font;
  font-size: 1.35rem;
  color: black;
}

.list-social-icons {
  a {
    color: $gray-700;
    &:hover {
      color: $primary;
    }
    .fa-lg {
      font-size: 1.75rem;
    }
  }
}

.list-icons {
  font-size: 3rem;
  a {
    text-decoration: none;
    color: $gray-700;
  }
  .list-inline-item i {
    &:hover {
      color: $primary;
    }
  }
}

.tech-badge {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  margin: 0.15rem;
  font-size: 0.75rem;
  font-weight: 600;
  background-color: #1561b2;
  color: #de9b5a;
  border-radius: 0.25rem;
}
