@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Saira Extra Condensed', sans-serif;
  text-transform: uppercase;
}

/* Active nav link styling */
.nav-link.active {
  color: white;
}
